@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --register-form__backdrop: rgba(0, 0, 0, 0.5); 
    --register-form: #ffffff;
    --data-field__icon:#007BFF;
}

.register-form{
    z-index: 5;
    display: flex;
    flex-direction: column;
    place-self: center;
    gap: 1rem;
    background: var(--register-form);
    padding: 1rem 2rem 1rem 2rem;
    border-radius: .5rem;
    justify-content: center;
}

.form__backdrop{
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--register-form__backdrop);
    z-index: 10;
    overflow-y: auto;
}

.register-form__title{
    font-family: Inter;
    text-align: center;
    margin-bottom: .5rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.register-form__close-btn{
    position: absolute;
    margin-top: -13.75rem;
    margin-left: 26.25rem;
    border: none;
    background: none;
    cursor: pointer;
}

.close-btn__icon{
    font-size: 1.25rem;
}

.register-form__data-field{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.data-field__icon{
    color: var(--data-field__icon);
}

.data-field__input{
    padding: .2rem .5rem;
    border-radius: .25rem;
    font-size: 1rem;
}

.data-field__label{
    font-family: Inter;
    margin-left: .5rem;
}

.register-form__submit-btn{
    background: var(--data-field__icon);
    color: var(--register-form);
    padding: .5rem 0;
    border-radius: .5rem;
    width: 15rem;
    place-self: center;
    font-family: Inter;
    margin-top: .5rem;
    border: none;
}